<!DOCTYPE html>
<html>
<head>
  <title>Carlos Henrique Reis</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <link href="https://unpkg.com/vuetify@1.1.10/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

  <style>
    /* Hide side scrollbar if content does not need it */
    html {
      overflow-y: auto;
    }
    .application {
      font-family: 'Quicksand', sans-serif;
    }

    /* Remove background of card in v-jumbotron */
    #jumbo-card {
      background-color: rgba(0, 0, 0, 0);
    }

    /* Animation */
    .v-enter-active, .v-leave-active {
      transition: all 1s ease;
    }

    .v-enter, .v-leave-to {
      transform: scale(0.1);
      opacity: 0;
    }
    * {
        box-sizing: border-box;
    }
    /* The actual timeline (the vertical ruler) */
    .timeline {
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
    }

    /* The actual timeline (the vertical ruler) */
    .timeline::after {
        content: '';
        position: absolute;
        width: 6px;
        background-color: white;
        top: 0;
        bottom: 0;
        left: 50%;
        margin-left: -3px;
    }

    /* container_timeline around content */
    .container_timeline {
        padding: 10px 40px;
        position: relative;
        background-color: inherit;
        width: 50%;
    }

    /* The circles on the timeline */
    .container_timeline::after {
        content: '';
        position: absolute;
        width: 25px;
        height: 25px;
        right: -13px;
        background-color: white;
        border: 4px solid #FF9F55;
        top: 15px;
        border-radius: 50%;
        z-index: 1;
    }

    /* Place the container_timeline to the left */
    .left_timeline {
        left: 0;
    }

    /* Place the container_timeline to the right */
    .right_timeline {
        left: 50%;
    }

    /* Add arrows to the left container_timeline (pointing right) */
    .left_timeline::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        right: 30px;
        border: medium solid white;
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent white;
    }

    /* Add arrows to the right container_timeline (pointing left) */
    .right_timeline::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        left: 30px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* Fix the circle for container_timelines on the right side */
    .right_timeline::after {
        left: -13px;
    }

    /* The actual content */
    .content_timeline {
        padding: 20px 30px;
        background-color: white;
        color: black;
        position: relative;
        border-radius: 6px;
    }

    .linkGit {
      /* unvisited link */
      color: white;
    }

    .rounded-card{
      border-radius:70px;
    }

    /* Media queries - Responsive timeline on screens less than 600px wide */
    @media screen and (max-width: 1264px) {
      /* Place the timelime to the left */
      .timeline::after {
        left: 31px;
      }

      /* Full-width container_timelines */
      .container_timeline {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
      }

      /* Make sure that all arrows are pointing leftwards */
      .container_timeline::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
      }

      /* Make sure all circles are at the same spot */
      .left_timeline::after, .right_timeline::after {
        left: 18px;
      }

      /* Make all right container_timelines behave like the left ones */
      .right_timeline {
        left: 0%;
      }
    }
  </style>

</head>
<body>
  <v-app id="app">
    <div v-scroll="onScroll">
      <app-navbar
        :drawer="drawer"
        :active="active"
        @reset-drawer="drawer = $event"
        @reset-active="active = $event"
        :app-name="appName"
        :folder-image="folderImage"
      ></app-navbar>
      <app-navigation-drawer
        :drawer="drawer"
        @reset-drawer="drawer = $event"
      ></app-navigation-drawer>
      <app-header :folder-image="folderImage"></app-header>
      <app-about-me
        :folder-file="folderFile"
        :active="active"
      ></app-about-me>
      <app-academic
        :active="active"
      ></app-academic>
      <app-professional-experience
        :active="active"
      ></app-professional-experience>
      <app-interests
        :active="active"
      ></app-interests>
      <app-my-projects
        :folder-image="folderImage"
        :folder-file="folderFile"
        :active="active"
      ></app-my-projects>
      <app-hobbies
        :active="active"
      ></app-hobbies>
      <app-footer :folder-image="folderImage"></app-footer>
      <app-fab></app-fab>
    </div>
  </v-app>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vuetify/1.1.10/vuetify.min.js"></script>
  <script src="https://d3js.org/d3-collection.v1.min.js"></script>
  <script src="https://d3js.org/d3-array.v1.min.js"></script>
  <script src="https://unpkg.com/vue-chartjs@2.8.7/dist/vue-chartjs.full.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/0.7.0/vue-resource.js"></script>
  <script src="./appFab.vue"></script>
  <script>
    Vue.component('app-navbar', {
      template: `
          <v-toolbar fixed tabs dark color="grey darken-4">
            <v-toolbar-side-icon class="hidden-lg-and-up" @click="drawerFlag = !drawerFlag"></v-toolbar-side-icon>
            <v-toolbar-title
              @click="$vuetify.goTo('#top')"
              v-ripple
              v-html="appName"
            />
            <v-spacer></v-spacer>

            <v-toolbar-items class="hidden-md-and-down">
              <v-tabs
                right
                slot="activators"
                v-model="activeFlag"
                dark
                color="grey darken-4"
              >
                <v-tabs-slider color="primary"></v-tabs-slider>
                <v-tab @click="$vuetify.goTo('#aboutMe', { offset: -65 })">About Me</v-tab>
                <v-divider light vertical></v-divider>
                <v-tab @click="$vuetify.goTo('#academic', { offset: -65 })">Academic</v-tab>
                <v-divider light vertical></v-divider>
                <v-tab @click="$vuetify.goTo('#professionalExperience', { offset: -65 })">Professional Experience</v-tab>
                <v-divider light vertical></v-divider>
                <v-tab @click="$vuetify.goTo('#interests', { offset: -65 })">Interests & Skills</v-tab>
                <v-divider light vertical></v-divider>
                <v-tab @click="$vuetify.goTo('#projects', { offset: -65 })">My Projects</v-tab>
                <v-divider light vertical></v-divider>
                <v-tab @click="$vuetify.goTo('#hobbies', { offset: -65 })">Hobbies</v-tab>
                <v-divider light vertical></v-divider>
              </v-tabs>
            </v-toolbar-items>
          </v-toolbar>`,
      data () {
        return {
        }
      },
      props: {
        appName: {
          type: String,
          default: ''
        },
        folderImage: {
          type: String,
          default: ''
        },
        active: {
          type: Number,
          default: ''
        },
        drawer: {
          type: Boolean,
          default: false
        }
      },
      methods: {

      },
      computed: {
        drawerFlag: {
          get () {
            return this.drawer
          },
          set (val) {
            this.$emit('reset-drawer', val)
          }
        },
        activeFlag: {
          get () {
            return this.active
          },
          set (val) {
            this.$emit('reset-active', val)
          }
        }
      },
      mounted () {

      }
    });

    Vue.component('app-navigation-drawer', {
      template: `
          <v-navigation-drawer
            v-model="drawerFlag"
            fixed
            class="hidden-lg-and-up"
            temporary
          >
            <v-list class="pt-0" dense>
              <v-divider></v-divider>

              <v-list-tile
                @click="$vuetify.goTo('#aboutMe', { offset: -55 }); drawerFlag = !drawerFlag"
              >
                <v-list-tile-action>
                  <v-icon>info</v-icon>
                </v-list-tile-action>

                <v-list-tile-content>
                  <v-list-tile-title>About Me</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-divider></v-divider>

              <v-list-tile
                @click="$vuetify.goTo('#academic', { offset: -55 }); drawerFlag = !drawerFlag"
              >
                <v-list-tile-action>
                  <v-icon>school</v-icon>
                </v-list-tile-action>

                <v-list-tile-content>
                  <v-list-tile-title>Academic</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-divider></v-divider>

              <v-list-tile
                @click="$vuetify.goTo('#professionalExperience', { offset: -55 }); drawerFlag = !drawerFlag"
              >
                <v-list-tile-action>
                  <v-icon>computer</v-icon>
                </v-list-tile-action>

                <v-list-tile-content>
                  <v-list-tile-title>Professional Experience</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-divider></v-divider>

              <v-list-tile
                @click="$vuetify.goTo('#interests', { offset: -55 }); drawerFlag = !drawerFlag"
              >
                <v-list-tile-action>
                  <v-icon>build</v-icon>
                </v-list-tile-action>

                <v-list-tile-content>
                  <v-list-tile-title>Interests & Skills</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-divider></v-divider>
              <v-list-tile
                @click="$vuetify.goTo('#projects', { offset: -55 }); drawerFlag = !drawerFlag"
              >
                <v-list-tile-action>
                  <v-icon>folder_special</v-icon>
                </v-list-tile-action>

                <v-list-tile-content>
                  <v-list-tile-title>My Projects</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-divider></v-divider>
              <v-list-tile
                @click="$vuetify.goTo('#hobbies', { offset: -55 }); drawerFlag = !drawerFlag"
              >
                <v-list-tile-action>
                  <v-icon>face</v-icon>
                </v-list-tile-action>

                <v-list-tile-content>
                  <v-list-tile-title>Hobbies</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-divider></v-divider>
            </v-list>
          </v-navigation-drawer>`,
      data () {
        return {
        }
      },
      props: ["drawer"],
      methods: {

      },
      computed: {
        drawerFlag: {
          get () {
            return this.drawer
          },
          set (val) {
            this.$emit('reset-drawer', val)
          }
        }
      },
      mounted () {

      }
    });

    Vue.component('app-header', {
      template: `
        <v-jumbotron id="top" :gradient="gradient" dark class="elevation-5 pt-5" height="none">
          <v-container fluid fill-height grid-list-xl>
            <v-layout row wrap align-center>
              <v-flex xs12 md8 text-xs-center my-4>
                <v-card id="jumbo-card" flat>
                  <h1 class="display-2 mb-3">Carlos Henrique Reis</h1>
                  <h2>
                    Bachelor of Science in Computer Science
                    <em style="display:block;font-size:1rem;">Universidade Federal de Itajubá – UNIFEI (Federal University of Itajubá)</em>
                  </h2>
                </v-card>
              </v-flex>

              <v-flex xs12 md4 text-xs-center my-4>
                <transition>
                  <v-avatar
                    class="grey lighten-4"
                    v-if="isAvatarVisible"
                    :size="avatarSize"
                  >
                    <img :src="imageProfile" />
                  </v-avatar>
                </transition>
              </v-flex>

            </v-layout>
          </v-container>
        </v-jumbotron>`,
      data () {
        return {
          avatarSize: 250,
          gradient: 'to right, #004, #1CB5E0',
          isAvatarVisible: false
        }
      },
      props: {
        folderImage: {
          type: String,
          default: ''
        }
      },
      computed: {
        imageProfile () {
          return this.folderImage + 'profile.png';
        }
      },
      methods: {

      },
      mounted () {
        // To trigger animation
        this.isAvatarVisible = true;
      }
    });

    Vue.component('app-about-me', {
      template: `
          <v-flex xs12 text-xs-center id="aboutMe">
            <v-card>
              <v-card-title primary-title class="justify-center">
                <div>
                  <h1 class="display-2 mb-3">INTRODUCTION</h1>
                  <h2>Hi, I'm Carlos. I'm currently working with web development and studying various things related to computing such as Artificial Intelligence and Optimization of Hyperparameters. Below is a resumé about me.</h2>
                  <div>
                    <v-btn
                      outline
                      color="primary"
                      dark large
                      :href="resumeFileEn" target="_blank"
                    >
                      <v-icon left dark>library_books</v-icon>
                      View Resumé (in english)
                    </v-btn>
                    <v-btn
                      outline
                      color="primary"
                      dark large
                      :href="resumeFileBr" target="_blank"
                    >
                      <v-icon left dark>library_books</v-icon>
                      View Resumé (in portuguese)
                    </v-btn>
                  </div>
                </div>
              </v-card-title>
            </v-card>
          </v-flex>`,
      data () {
        return {

        }
      },
      props: {
        folderFile: {
          type: String,
          default: ''
        },
        active: {
          type: Number,
          default: ''
        }
      },
      computed: {
        resumeFileEn () {
          return this.folderFile + 'curriculum-vitae-en-Carlos-Reis.pdf';
        },
        resumeFileBr () {
          return this.folderFile + 'curriculum vitae-br-Carlos-Reis.pdf';
        }
      },
      methods: {

      },
      mounted () {

      }
    });

    Vue.component('app-academic', {
      template: `
          <v-flex xs12 text-xs-center id="academic">
            <v-card color="primary" dark>
              <v-card-title primary-title>
                <div>
                  <h1 class="display-2 mb-3">ACADEMIC</h1>
                  <h2>I have a bachelor's degree in Computer Science from Universidade Federal de Itajubá – UNIFEI (Federal University of Itajubá). All the activities of my academic life can be seen in the next timeline</h2>
                </div>
                <div class="timeline">
                  <div class="container_timeline left_timeline">
                    <div class="content_timeline">
                      <h2>END... Bachelor of Science in Computer Science.</h2>
                    </div>
                  </div>
                  <div class="container_timeline right_timeline">
                    <div class="content_timeline">
                      <h2>2018</h2>
                      <p>In the first semester I continued as a teaching assistant, however, in the disciplines of Object Oriented Computing and Web Development. Finally I finished my course final paper related to deep learning and Hyperparameter Optimization.</p>
                    </div>
                  </div>
                  <div class="container_timeline left_timeline">
                    <div class="content_timeline">
                      <h2>2017</h2>
                      <p>I was discipline teaching assistant of Data Structures. During this period, I started to become interested in machine learning and started researching my course final paper.</p>
                    </div>
                  </div>
                  <div class="container_timeline right_timeline">
                    <div class="content_timeline">
                      <h2>2016</h2>
                      <p>I did my second initiation also related to Simulation for Discrete Events. I was a member of the Student Academic Center (Academic Directory of Computing, DACOMP) as Graduation Director of the Computer Science course.</p>
                    </div>
                  </div>
                  <div class="container_timeline left_timeline">
                    <div class="content_timeline">
                      <h2>2015</h2>
                      <p>By choice, I transfer to the Computer Science course. I also did my first research (scientific initiation scholarship) related to Discrete Event Simulation</p>
                    </div>
                  </div>
                  <div class="container_timeline right_timeline">
                    <div class="content_timeline">
                      <h2>2014</h2>
                      <p>I entered the course of Information Systems. In addition to being a volunteer in <b><a class="black--text" href="https://www.familiacats.com.br" target="_blank">CATS</a></b> (Philanthropic Institution).</p>
                    </div>
                  </div>
                  <div class="container_timeline left_timeline">
                    <div class="content_timeline">
                      <h2>start game</h2>
                    </div>
                  </div>
                </div>
              </v-card-title>
            </v-card>
          </v-flex>`,
      data () {
        return {

        }
      },
      props: {
        active: {
          type: Number,
          default: ''
        }
      },
      computed: {
      },
      methods: {

      },
      mounted () {

      }
    });

    Vue.component('app-professional-experience', {
      template: `
          <v-flex xs12 text-xs-center id="professionalExperience">
            <v-card>
              <v-card-title primary-title class="justify-center">
                <h1 class="display-2 mb-1">PROFESSIONAL EXPERIENCE</h1>
              </v-card-title>
              <v-card-text>
                <v-container grid-list-md text-xs-center>
                  <v-layout row wrap>
                    <v-flex xs12 md6 d-flex>
                      <v-card elevation-4 light>
                        <v-card-title>
                          <span class="title text-xs-left">
                            <b><v-icon left>business_center</v-icon> Software developer</b></br>
                            <v-icon left>date_range</v-icon> September 2018 - currently</br>
                            <v-icon left>business</v-icon>Smarkio Tecnologia Ltda, Itajubá-Brazil</br>
                          </span>
                        </v-card-title>
                        <v-card-text class="ml-3 text-xs-left subheading">
                          <p>
                            <v-icon>keyboard_arrow_right</v-icon>
                            Working with integrations between our platform and our clients' services
                          </p>
                          <p>
                            <v-icon>keyboard_arrow_right</v-icon>
                            Using the following technologies:
                            <ul class="ml-3">
                              <li>PHP</li>
                              <li>NodeJS</li>
                              <li>jQuery/AJAX</li>
                              <li>Web Services (XML, REST, SOAP, WSDL, etc)</li>
                              <li>AWS Lambda</li>
                              <li>FaaS (Function as a Service)</li>
                              <li>Serverless Framework</li>
                            </ul>
                          </p>
                        </v-card-text>
                      </v-card>
                    </v-flex>
                    <v-flex xs12 md6 d-flex>
                      <v-card elevation-4 light>
                        <v-card-title>
                          <span class="title text-xs-left">
                            <b><v-icon left>business_center</v-icon> Software Developer Internship</b></br>
                            <v-icon left>date_range</v-icon> November 2017 ‒ August 2018</br>
                            <v-icon left>business</v-icon> Tuuris.com, Itajubá-Brazil</br>
                          </span>
                        </v-card-title>
                        <v-card-text class="ml-3 text-xs-left subheading">
                          <p>
                            <v-icon>keyboard_arrow_right</v-icon>
                            Responsible for development in Tuuris.com. Tuuris is a platform that allows you to customize and compare prices and travel itinerary offered by travel agencies.
                          </p>
                          <p>
                            <v-icon>keyboard_arrow_right</v-icon>
                            Using the following technologies:
                            <ul class="ml-3">
                              <li>Ruby On Rails</li>
                              <li>GraphQL</li>
                              <li>VueJs</li>
                              <li>TDD e BDD</li>
                              <li>Docker</li>
                              <li>Mysql</li>
                            </ul>
                          </p>
                        </v-card-text>
                      </v-card>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card-text>
            </v-card>
          </v-flex>`,
      data () {
        return {

        }
      },
      props: {
        active: {
          type: Number,
          default: ''
        }
      },
      computed: {
      },
      methods: {

      },
      mounted () {

      }
    });

    Vue.component('app-interests', {
      template: `
          <v-flex xs12 text-xs-center id="interests">
            <v-card color="deep-purple darken-2" dark>
              <v-card-title primary-title class="text-xs-center">
                <v-flex>
                  <h1 class="display-2 mb-3">INTERESTS & SKILLS</h1>
                </v-flex>
              </v-card-title>
              <v-card-text>
                <v-container grid-list-md text-xs-center>
                  <v-layout row wrap>
                    <v-flex xs12 md6 d-flex>
                      <v-card color="purple darken-4">
                        <v-card-title primary-title>
                          <div>
                            <h3 class="headline mb-0">INTERESTS</h3>
                            <div>I have an academic/professional interest in Artificial Intelligence, Operational Research, development of Object Oriented Programming and methods that assist in decision making through Simulation of Discrete Events.</div>
                          </div>
                        </v-card-title>
                      </v-card>
                    </v-flex>
                    <v-flex xs12 md6 d-flex>
                      <v-card color="purple darken-4">
                        <v-card-title primary-title>
                          <div>
                            <h3 class="headline mb-0">SKILLS</h3>
                            <div>
                              To demonstrate my skills will show some statistics of my contributions in github. I used gitbub api information regarding my github account.</div>
                          </div>
                        </v-card-title>
                      </v-card>
                    </v-flex>
                    <v-flex xs12 d-flex>
                      <v-card color="purple darken-4">
                        <v-flex>
                          <v-card color="deep-purple lighten-1" dark>
                            <v-layout row wrap>
                              <v-flex d-flex class="elevation-5">
                                <b><v-icon small>fa fa-code</v-icon> Pushed to repos <p class="mt-5 headline">{{repos_pushed.length}}</p></b>
                              </v-flex>
                              <v-divider light vertical></v-divider>
                              <v-flex class="elevation-5">
                                <b><v-icon small>fa fa-language</v-icon> Main languages <p class="mt-5 headline">{{ languages.length }}</p></b>
                              </v-flex>
                              <v-divider light vertical></v-divider>
                              <v-flex class="elevation-5">
                                <b><v-icon small>fa fa-bug</v-icon> Total issues <p class="mt-5 headline">{{ total_issues }}</p></b>
                              </v-flex>
                              <v-divider light vertical></v-divider>
                              <v-flex class="elevation-5">
                                <b><v-icon small>call_split</v-icon> Total forks <p class="mt-5 headline">{{ total_forks }}</p></b>
                              </v-flex class="elevation-5">
                              <v-divider light vertical></v-divider>
                              <v-flex class="elevation-5">
                                <b><v-icon small>star</v-icon> Total stars <p class="mt-5 headline">{{ total_stars }}</p></b>
                              </v-flex class="elevation-5">
                              <v-divider light vertical></v-divider>
                              <v-flex class="elevation-5">
                                <b><v-icon small>fa fa-user</v-icon> Followers <p class="mt-5 headline">{{ user.followers }}</p></b>
                              </v-flex>
                              <v-divider light vertical></v-divider>
                              <v-flex class="elevation-5">
                                <b><v-icon small>fa fa-users</v-icon> Following <p class="mt-5 headline">{{ user.following }}</p></b>
                              </v-flex>
                            </v-layout>
                          </v-card>
                        </v-flex>
                        <v-flex text-lg-left class="ma-3">
                          <span class="display-1">Summary</span>
                          <p>Joined GitHub {{ user.created_at }}</p>
                          <div class="padh">
                            <p v-if="repos_pushed.length > 1">{{ user.name }} has {{ user.public_repos }} repositories on GitHub, the latest {{ repos.length }} with user activity were loaded from GitHub's web service for this evaluation. {{ user.name }} has pushed to <strong>{{ repos_pushed.length }}</strong> of these repositories.
                              <span v-if="repos_pushed_ratio > .8">This is a high ratio congratulations!</span>
                              <span v-else-if="repos_pushed_ratio < .4">This is a low ratio.</span>
                            </p>
                            <p v-if="languages.length > 1"><strong>{{ languages.length }}</strong> different main languages were identified across all repos pushed to. The main language is the one with the largest amount of code in a given repository, as identified by GitHub's <b><a class="linkGit" href="https://github.com/github/linguist">linguist</a></b>.
                              <span v-if="languages.length > 5">Assuming a basic level of proficiency in all these languages {{ user.name }} can be considered hyperpolyglot in the world of computer languages.</span>
                              <strong>{{ languages[0].key }}</strong> occurs most frequently ‒ {{ languages[0].value }} times ‒ as the main repo language.
                            </p>
                            <p v-if="total_forks / repos_pushed.length > 20">The total number of forks across all pushed to repositories indicates that the GitHub projects {{ user.name }} contributes to are actually used by other people as well.</p>
                          </div>
                          <div class="padh">
                            <h2 id="rankings">Rankings</h2>
                            <v-layout row wrap>
                              <v-flex v-if="languages.length > 1" xs12 md3 class="elevation-2">
                                <v-card color="deep-purple lighten-1" class="pa-3">
                                  <h3>Languages</h3>
                                  <div class="chart-container">
                                    <horizontal-bar-chart :height="216" :chart-data="datacollectionLanguages" :options="options"></horizontal-bar-chart>
                                  </div>
                                </v-card>
                              </v-flex>
                              <v-flex v-if="issues.length > 1" xs12 md3 class="elevation-2">
                                <v-card color="deep-purple lighten-1" class="pa-3">
                                  <h3>Issues</h3>
                                  <div class="chart-container">
                                    <horizontal-bar-chart :height="216" :chart-data="datacollectionIssues" :options="options"></horizontal-bar-chart>
                                  </div>
                                </v-card>
                              </v-flex>
                              <v-flex v-if="forks.length > 1" xs12 md3 class="elevation-2">
                                <v-card color="deep-purple lighten-1" class="pa-3">
                                  <h3>Forks</h3>
                                  <div class="chart-container">
                                    <horizontal-bar-chart :height="216" :chart-data="datacollectionForks" :options="options"></horizontal-bar-chart>
                                  </div>
                                </v-card>
                              </v-flex>
                              <v-flex v-if="stars.length > 1" xs12 md3 class="elevation-2">
                                <v-card color="deep-purple lighten-1" class="pa-3">
                                  <h3>Stars</h3>
                                  <div class="chart-container">
                                    <horizontal-bar-chart :height="216" :chart-data="datacollectionStars" :options="options"></horizontal-bar-chart>
                                  </div>
                                </v-card>
                              </v-flex>
                            </v-layout>
                          </div>
                        </v-flex>
                      </v-card>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card-text>
            </v-card>
          </v-flex>`,
      data () {
        return {
          loading: false,
          options: {
            responsive: true,
            maintainAspectRatio: false,
            legend: {
              display: false
            },
            scales: {
              yAxes: [{
                maxBarThickness: 10,
                ticks: {
                    fontColor: 'white'
                }
              }],
              xAxes: [{
                ticks: {
                    fontColor: 'white',
                    beginAtZero:true
                }
              }]
            }
          },
          github_user: 'Carlos-Henreis',
          user: {},
          git_api: 'https://api.github.com/users/',
          repos: [],
          response: {},
          sort_orders: {},
          sort_key: ''
        }
      },
      props: {
        active: {
          type: Number,
          default: ''
        }
      },
      computed: {
        datacollectionLanguages: function() {
          let language_ranking = this.languages
          let datacollectionLanguage = {
            labels: [],
            datasets: []
          }
          datacollectionLanguage.labels = language_ranking.map(d => d.key)
          datacollectionLanguage.datasets = [{
            label: 'Projects',
            backgroundColor: '#f87979',
            data: language_ranking.map(d => d.value)
          }]
          return datacollectionLanguage
        },

        datacollectionIssues: function() {
          let issues_ranking = this.issues
          let datacollectionIssues = {
            labels: [],
            datasets: []
          }
          datacollectionIssues.labels = issues_ranking.map(d => d.name)
          datacollectionIssues.datasets = [{
            label: 'Projects',
            backgroundColor: '#f87979',
            data: issues_ranking.map(d => d['open_issues_count'])
          }]
          return datacollectionIssues
        },
        datacollectionForks: function() {
          let forks_ranking = this.forks
          let datacollectionForks = {
            labels: [],
            datasets: []
          }
          datacollectionForks.labels = forks_ranking.map(d => d.name)
          datacollectionForks.datasets = [{
            label: 'Projects',
            backgroundColor: '#f87979',
            data: forks_ranking.map(d => d['forks_count'])
          }]
          return datacollectionForks
        },

        datacollectionStars: function() {
          let stars_ranking = this.stars
          let datacollectionStars = {
            labels: [],
            datasets: []
          }
          datacollectionStars.labels = stars_ranking.map(d => d.name)
          datacollectionStars.datasets = [{
            label: 'Projects',
            backgroundColor: '#f87979',
            data: stars_ranking.map(d => d['stargazers_count'])
          }]
          return datacollectionStars
        },

        // Only repos the user actually pushed at, i.e. no forks with no user commits.
        repos_pushed: function() {
          return this.repos.filter(d => d.pushed_at > d.created_at)
        },
        repos_pushed_ratio: function() {
          return this.repos.length ? this.repos_pushed.length / this.repos.length : 0
        },
        languages: function() {
          return d3.nest()
            .key(d => d.language)
            .rollup(leaves => leaves.length)
            .entries(this.repos_pushed.filter(d => d.language))
            .sort((a, b) => b.value - a.value)
        },
        issues: function() {
          return this.repoRanking('open_issues_count')
        },
        forks: function() {
          return this.repoRanking('forks_count')
        },
        stars: function() {
          return this.repoRanking('stargazers_count')
        },
        total_forks: function() {
          return d3.sum(this.forks, d => d.forks_count)
        },
        total_issues: function() {
          return d3.sum(this.issues, d => d.open_issues_count)
        },
        total_stars: function() {
          return d3.sum(this.stars, d => d.stargazers_count)
        }
      },
      methods: {
        fetchRepos: function() {
          let that = this
          this.loading = true
          this.$http.get(this.git_api+this.github_user+'/repos?sort=pushed&per_page=100').then(response => {
            that.response = response
            that.repos = response['data']
            that.loading = false
          })
        },
        fetchUser: function() {
          let that = this
          this.loading = true
          this.$http.get(this.git_api+this.github_user).then(response => {
            that.user = response['data']
            if (!that.user.name) that.user.name = that.user.login
            that.loading = false
          })
        },
        order: function(key) {
          // asc is default, because sort orders are initially unset
          return this.sort_orders[key] < 0 ? 'dsc' : 'asc'
        },
        repoRanking: function(property) {
          return this.repos_pushed.filter(d => d[property])
            .sort((a, b) => b[property] - a[property])
        },
        sortBy: function(key, type='number') {
          let default_value = type === 'string' ? '' : 0
          this.sort_key = key
          this.sort_orders[key] = (this.sort_orders[key] || 1) * -1
          this.repos.sort((a, b) => {
            let x = a[key] || default_value,
                y = b[key] || default_value
            if (type === 'string') {
                x = x.toLowerCase()
                y = y.toLowerCase()
            }
            return (x === y ? 0 : x > y ? 1 : -1) * this.sort_orders[key]
          })
        }
      },
      updated: function() {
        //this.rankingGraph(this.issues.slice(0, 10), 'open_issues_count', '#issues-ranking')
        //this.rankingGraph(this.forks.slice(0, 10), 'forks_count', '#forks-ranking')
        //this.rankingGraph(this.stars.slice(0, 10), 'stargazers_count', '#stars-ranking')
      },
      created () {
        this.fetchRepos()
        this.fetchUser()
      }
    });

    Vue.component('app-my-projects', {
      template: `
      <v-flex xs12 text-xs-center id="projects">
        <v-card>
          <v-card-title primary-title class="text-xs-center">
            <v-container grid-list-md text-xs-center>
              <h1 class="display-2 mb-3">MY PROJECTS</h1>
              <h2>There are some projects that I dedicated recently with some topics of my interest, such as Tensorflow/Pandas, Machine Learning, etc.</h2>
            </v-container>
          </v-card-title>
          <v-card-text>
            <v-flex xs12>
              <v-card>
                <v-container grid-list-md text-xs-center>
                  <v-layout row wrap>
                    <v-flex xs12 sm6 lg4
                      v-for="project in projects"
                      :key="project.nome"
                    >
                      <v-card hover :href="project.link" height="100%" target="_blank">
                        <v-card-media
                          height="330px"
                          :src="project.image"
                        >
                        </v-card-media>

                        <v-divider />

                        <v-card-text>
                          <h3 v-html="project.nome" class="mb-2"></h3>
                          <v-chip
                            class="white--text"
                            color=info
                            small
                            v-for="tag in project.tags"
                            :key="tag"
                          >
                            {{ tag }}
                          </v-chip>
                        </v-card-text>
                        <v-slide-y-transition>
                          <v-card-text v-show="show">
                            <h4>More info</h4>
                            {{project.description}}
                          </v-card-text>
                        </v-slide-y-transition>
                      </v-card>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card>
            </v-flex>
          </v-card-text>
        </v-card>
      </v-flex>`,
      data () {
        return {
          show: true,
          projects: [
            {
              nome: 'Draggable blur mask over image',
              description: 'Draggable blur mask over image (use canvas vue/vuetify)',
              tags: ['VueJs', 'Vuetify', 'Canvas'],
              type: 'code',
              link: this.folderFile +'draggable-blur-mask.html',
              image: this.folderImage + 'blur.png'
            },
            {
              nome: 'Optimization of Hyperparameters in Deep Neural Networks',
              description: 'This paper presents a brief study on Hyperparameter Optimization methods in Deep Learning models focused on data classification. One of the great challenges when working with models of deep learning is the difficulty of finding the best configuration of the hyperparameters of these models, that is, which combination of values is the most adequate to obtain the best performance of the learning algorithm during training.',
              tags: ['Python', 'Tensorflow', 'Pandas'],
              type: 'article',
              link: this.folderFile + 'Monografia_TFG.pdf',
              image: this.folderImage + 'Optimization.png'
            },
            {
              nome: 'Workshop Tensorflow',
              description: 'This workshop is intended for an audience that is new to Tensorflow with a very basic knowledge in Machine Learning. It is part of the Hackathon Retail 4.0 2018 held at the Federal University of Itajubá - UNIFEI. The challenge of this Hackathon is to use the techniques of artificial intelligence and programming in Python to solve problems of retail 4.0. In the end a company brings problems to solve in groups that compete for the best solution.',
              tags: ['Python', 'Tensorflow', 'Pandas'],
              type: 'Workshop',
              link: 'https://github.com/Carlos-Henreis/tensorflow-workshop',
              image: this.folderImage + 'work.jpg'
            },
            {
              nome: 'Laravel VueJS',
              description: 'While Laravel does not dictate which JavaScript or CSS pre-processors you use, it does provide a basic starting point using Bootstrap and Vue that will be helpful for many applications. By default, Laravel uses NPM to install both of these frontend packages.',
              tags: ['VueJS', 'PHP', 'Laravel', 'Vuetify'],
              type: 'Code',
              link: 'https://github.com/Carlos-Henreis/Laravel_VueJS',
              image: this.folderImage + 'latavel.jpg'
            },
            {
              nome: 'Digit recognition',
              description: 'Building a small neural network to recognize handwritten numbers using TensorFlow',
              tags: ['Python', 'html5lib', 'protobuf', 'scikit-learn', 'tensorflow'],
              type: 'Code',
              link: 'https://github.com/Carlos-Henreis/PDI',
              image: this.folderImage + 'mnist-input.png'
            },
            {
              nome: 'Motion of the galaxy',
              description: 'Calculates the position of the stars of a galaxy according to the time',
              tags: ['Python', 'numpy', 'Matplotlib'],
              type: 'Code',
              link: 'https://github.com/Carlos-Henreis/galaxia',
              image: this.folderImage + 'galaxia.gif'
            },
            {
              nome: 'Scroll Back To Top Button with vuetify',
              description: 'This example demonstrates how to create a "scroll to top" button that becomes visible when the user starts to scroll the page.',
              tags: ['Vuetify', 'Vuejs', 'Material Design'],
              type: 'code',
              link: 'https://codepen.io/carlos-henreis/pen/vzXKBJ',
              image: this.folderImage + 'vue-elevator.gif'
            }
          ]
        }
      },
      props: {
        folderFile: {
          type: String,
          default: ''
        },
        folderImage: {
          type: String,
          default: ''
        },
        active: {
          type: Number,
          default: ''
        }
      },
      computed: {
        resumeFileEn () {
          return this.folderFile + 'curriculum-vitae-en-Carlos-Reis.pdf';
        },
        resumeFileBr () {
          return this.folderFile + 'curriculum vitae-br-Carlos-Reis.pdf';
        }
      },
      methods: {

      },
      mounted () {

      }
    });

    Vue.component('horizontal-bar-chart', {
      extends: VueChartJs.HorizontalBar,
      mixins: [VueChartJs.mixins.reactiveProp],
      props: ['options'],
      mounted () {
        this.renderChart(this.chartData, this.options)
      }
    });

    Vue.component('app-hobbies', {
      template: `
          <v-flex xs12 text-xs-center id="hobbies" v-scroll="onScroll">
          <v-card color="grey lighten-2">
            <v-card-title primary-title class="justify-center">
              <h1 class="display-2 mb-1">HOBBIES</h1>
            </v-card-title>
            <v-card-text>
              <v-container grid-list-md text-xs-center>
                <v-layout row wrap>
                  <v-flex xs12 d-flex>
                    <v-card elevation-4 color="primary" dark class="rounded-card">
                      <v-card-text>
                        <span class="title">
                          In my moments off I like to practice Mountain Running, I try to cross roads, paths and trails in the mountains of the South of Minas Gerais, Serra Mantiqueira and Serra do Mar.
                        </span>
                      </v-card-text>
                    </v-card>
                  </v-flex>
                  <v-flex xs12 d-flex>
                    <v-card elevation-4 color="primary" dark class="rounded-card">
                      <v-card-text>
                        <span class="title">
                          Origami, people ask me how I have the patience to make them, I say: I do not know, mainly because I'm an impatient person, but I love making my origamis. Part of them I put on my Instagram (my posts can be seen below):
                        </span>
                      </v-card-text>
                    </v-card>
                  </v-flex>
                  <v-flex xs12>
                    <v-card>
                      <v-container
                        fluid
                        grid-list-md
                      >
                        <v-layout row wrap>
                          <v-flex
                            v-for="(card, index) in grams"
                            md4 xs12
                            :key="index"
                          >
                            <v-card>
                              <v-card-media
                                aspect-ratio="2.75"
                                :src="card.images.standard_resolution.url"
                                height="200px"
                              >
                                <v-container
                                  fill-height
                                  fluid
                                  pa-2
                                >
                                  <v-layout fill-height>
                                    <v-flex xs12 align-end flexbox>
                                      <span class="headline white--text" v-text="card.caption.text.split('#')[0].substring(0,40)+'...'"></span>
                                    </v-flex>
                                  </v-layout>
                                </v-container>
                              </v-card-media>

                              <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-tooltip bottom>
                                  <v-badge
                                    left class="pr-3"
                                    overlap
                                    slot="activator"
                                  >
                                    <span slot="badge">{{card.tags.length}}</span>
                                    <v-icon
                                      large
                                      color="green lighten-1"
                                    >
                                      fas fa-hashtag
                                    </v-icon>
                                  </v-badge>
                                  <span v-for="tag in card.tags">#{{tag}}</br></span>
                                </v-tooltip>
                                <v-badge left class="pr-3" overlap>
                                  <span slot="badge">{{card.likes.count}}</span>
                                  <v-icon
                                    large
                                    color="red lighten-1"
                                  >
                                    favorite
                                  </v-icon>
                                </v-badge>
                                <v-badge left overlap>
                                  <span slot="badge">{{card.comments.count}}</span>
                                  <v-icon
                                    large
                                    color="primary lighten-1"
                                  >
                                    mode_comment
                                  </v-icon>
                                </v-badge>
                                <v-btn flat color="primary" dark :href="card.link" target="_blank">See on instagram</v-btn>
                              </v-card-actions>
                            </v-card>
                          </v-flex>
                        </v-layout>
                      </v-container>
                    </v-card>
                  </v-flex>
                  <v-flex class="text-xs-center" v-if="loading">
                    <v-progress-circular
                      :size="70"
                      :width="10"
                      color="primary"
                      indeterminate
                    ></v-progress-circular>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card-text>
          </v-card>
          </v-flex>`,
      data () {
        return {
          loading: false,
          end: false,
          access_token: "1476919210.1677ed0.4254aa27c4eb4e2b9c39253d87df5444",
          url: "https://api.instagram.com/v1/users/self/media/recent/",
          username: "",
          grams: [],
          next_url: '',
          error: false
        }
      },
      props: {
        active: {
          type: Number,
          default: ''
        }
      },
      computed: {
      },
      methods: {
        getPosts () {
          this.loading = true
          this.$http.get(this.url + "?access_token=" + this.access_token).then(response => {
            this.grams = response.data.data
            this.username = response.data.data[0].user.username
            this.next_url = response.data.pagination.next_url
            this.loading = false
          })
        },
        getMorePosts () {
          this.loading = true
          this.$http.get(this.next_url).then(response => {
            this.grams = this.grams.concat(response.data.data)
            this.next_url = response.data.pagination.next_url
            this.loading = false
          })
        },
        onScroll () {
          let heightFooter = document.body.offsetHeight-document.getElementById('footer').offsetTop
          let pageTop = window.scrollY

          if (((pageTop + (window.innerHeight - heightFooter)) == document.getElementById('footer').offsetTop) && !this.end) {
            if (typeof this.next_url === 'undefined') {
              this.end = true
            } else if (typeof this.next_url === 'string' && this.next_url.length > 0) {
              this.getMorePosts()
            }
          }
        }
      },
      created() {
        this.end = false
        this.next_url = ''
        this.getPosts()
      }
    });

    Vue.component('app-footer', {
      template: `

        <v-footer
          dark
          height="auto"
          id="footer"
        >
          <v-card
            class="flex"
            flat
            tile
          >
            <v-card-title class="blue darken-4">
              <strong class="subheading">More about me</strong>

              <v-spacer></v-spacer>

              <v-btn
                class="mx-3"
                dark
                href="https://www.linkedin.com/in/Carlos-Henreis" target="_blank"
                icon
              >
                <v-icon size="24px">fab fa-linkedin</v-icon>
              </v-btn>
            <v-btn
                class="mx-3"
                dark
                href="http://www.github.com/Carlos-Henreis" target="_blank"
                icon
              >
                <v-icon size="24px">fab fa-github</v-icon>
              </v-btn>
            <v-btn
                class="mx-3"
                dark
                href="http://lattes.cnpq.br/7813456161666411" target="_blank"
                icon
              >
                <v-icon size="24px">fa fa-graduation-cap</v-icon>
              </v-btn>
            <v-btn
                class="mx-3"
                dark
            href="https://www.instagram.com/carloshenrique.reis.35/" target="_blank"
                icon
              >
                <v-icon size="24px">fab fa-instagram</v-icon>
              </v-btn>

            </v-card-title>

            <v-card-actions class="grey darken-3 justify-center">
              <span>Made with <a class="white--text" href="https://vuetifyjs.com" target="_blank">Vuetify</a> & <a class="white--text" href="https://vuejs.org">VueJs</a> by <a class="white--text" href="https://github.com/Carlos-Henreis/">Carlos-Henreis</a> — &copy;2018</span>
            </v-card-actions>
          </v-card>
        </v-footer>`,
      data () {
        return {

        }
      },
      props: {
        appName: {
          type: String,
          default: ''
        },

        folderImage: {
          type: String,
          default: ''
        }
      },
      computed: {
        imageLattes () {
          return this.folderImage + 'icon-lattes-34.png';
        },
        imageGithub () {
          return this.folderImage + 'icon-github-32.png';
        },
        imageLinkedIn () {
          return this.folderImage + 'icon-linkedin-34.png';
        }
      },
      methods: {

      },
      mounted () {

      }
    });

    new Vue({
      el: '#app',
      data () {
        return {
          appName: 'Portfolio of Carlos Henrique Reis',
          folderImage: 'https://carlos-henreis.github.io/files/images/',
          folderFile: 'https://carlos-henreis.github.io/files/',
          drawer: false,
          active: 0,
          list: ['aboutMe', 'academic', 'professionalExperience', 'interests', 'projects', 'hobbies'],
          currentOffset: 0
        }
      },
      watch: {
        currentOffset: function (val) {
          if (val < this.getItemOffset(this.list[0]) - 65) {
            this.active = 0
            return
          }
          let that = this
          let index = this.list.findIndex(item => {
            return  that.getItemOffset(item) - 65 > val
          })
          const lastIndex = this.list.length

          this.active = index > -1 ? index-1 : lastIndex-1
        }
      },
      methods: {
        getItemOffset (item) {
          return document.getElementById(item).offsetTop
        },
        onScroll () {
          this.currentOffset = window.pageYOffset
        }
      }
    });
  </script>
</body>
</html>
